<div class="jumbotron bg-transparent text-center">
  <div *ngIf="!user" class="card text-center">
    <div class="card-block">
      <h4 class="card-title">Sync Calendar Events</h4>
    </div>
    <div class="card-block">
      <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()">Google</button>
      <button class="btn btn-social-icon btn-facebook mx-1" (click)="signInWithFB()">Facebook</button>
      <button class="btn btn-social-icon btn-microsoft mx-1" (click)="signInWithMicrosoft()">Microsoft</button>
    </div>
  </div>
  <div *ngIf="user" class="card text-center">
    <h4 class="card-header">
      Calendar Events Synced
    </h4>
    <div class="card-block"></div>
    <img *ngIf="user.photoUrl" class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
    <div class="card-block">
      <h4 class="card-title">{{ user.name }}</h4>
      <p class="card-text">{{ user.email }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
    <div class="card-block" *ngIf="user.provider === GoogleLoginProvider.PROVIDER_ID">
      <button class="btn" (click)="refreshGoogleToken()">Refresh google token</button>
    </div>
  </div>
</div>